<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/cache 
        http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util.xsd">
  
	<!-- Auto scan the components -->
	<context:annotation-config />
	<context:component-scan base-package="com.niulbird.clubmgr" />
	
	<!-- Message Source -->
    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
      		<list>
        		<value>classpath:bfc-messages</value>
      		</list>
    	</property>
    </bean>
    
        <!-- Tiles support -->
    <bean id="tilesConfigurer"
          class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <property name="definitions">
            <value>/WEB-INF/tiles.xml</value>
        </property>
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView"/>
    </bean>

    <!-- Locale support -->
    <bean id="localeResolver"
          class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <property name="defaultLocale" value="en"/>
    </bean>

    <mvc:annotation-driven conversion-service="conversionService"/>
    
    <mvc:resources mapping="/static/**" location="/static/" cache-period="7776000">
      <mvc:resource-chain resource-cache="true" auto-registration="true">
        <mvc:resolvers>
          <mvc:version-resolver>
            <mvc:content-version-strategy patterns="/**" />
          </mvc:version-resolver>
        </mvc:resolvers>
      </mvc:resource-chain>
    </mvc:resources>
    
    <mvc:interceptors>
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="siteLanguage"/>
        </bean>
        <bean class="org.springframework.web.servlet.theme.ThemeChangeInterceptor">
    		<property name="paramName" value="theme" />
		</bean>
        <bean id="logInterceptor" class="com.niulbird.clubmgr.bfc.interceptors.LogInterceptor"/>
    </mvc:interceptors>
    
    <!-- Theme Change Interceptor and Resolver definition -->
	<bean id="themeSource"
		class="org.springframework.ui.context.support.ResourceBundleThemeSource">
			<property name="basenamePrefix" value="theme-" />
	</bean>
	<bean id="themeChangeInterceptor" class="org.springframework.web.servlet.theme.ThemeChangeInterceptor">
    	<property name="paramName" value="theme" />
	</bean>
	<bean id="themeResolver" class="org.springframework.web.servlet.theme.CookieThemeResolver">
    	<property name="defaultThemeName" value="default" />
	</bean>
  
  
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
    <property name="converters">
        <set>
            <bean class="com.niulbird.clubmgr.bfc.command.StringToTeamConverter"/>
            <bean class="com.niulbird.clubmgr.bfc.command.StringToPositionConverter"/>
        </set>
    </property>
    </bean>
    
  	<context:property-placeholder location="classpath:global.properties"/>
	<util:properties id="props" location="classpath:global.properties" />
 	
    <!-- Spring Mail configuration -->
 	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    	<property name="host" value="${mail.smtp.host}" />
    	<property name="port" value="${mail.smtp.port}" />
    	<property name="username" value="${mail.smtp.user}" />
    	<property name="password" value="${mail.smtp.pass}" />
    	<property name="javaMailProperties">
        	<props>
            	<!-- Use SMTP-AUTH to authenticate to SMTP server -->
            	<prop key="mail.smtp.auth">true</prop>
            	<!-- Use TLS to encrypt communication with SMTP server -->
            	<prop key="mail.smtp.starttls.enable">true</prop>
        	</props>
    	</property>
	</bean>
    
    <!-- Wordpress Service -->
    <bean id="wordPressDao" class="com.niulbird.clubmgr.util.wordpress.DefaultWordPressDao">
    	<property name="baseUrl" value="${wordpress.site.baseUrl}"/>
    	<property name="siteName" value="${wordpress.site.name}"/>
    </bean>
  
    <!-- Freemarker -->  
    <bean id="freeMarkerConfigurationFactory" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
      <property name="templateLoaderPath" value="classpath:templates"/>
      <property name="preferFileSystemAccess" value="false"/>
    </bean>
    <bean id="freeMarkerConfiguration" class="freemarker.template.Configuration" factory-bean="freeMarkerConfigurationFactory" factory-method="createConfiguration" scope="prototype"/>
  
    
    <!-- Cache -->
    <cache:annotation-driven />
    <bean id="cacheManager"
      class="org.springframework.cache.ehcache.EhCacheCacheManager" 
      p:cache-manager-ref="ehcache"/>

	<!-- EhCache library setup -->
	<bean id="ehcache"
      class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" 
      p:config-location="classpath:ehcache.xml"
      p:shared="true"/>
      
    <task:annotation-driven executor="myExecutor"/>
    <task:executor id="myExecutor" pool-size="5"/>
    
    <!-- security configuration -->
    <import resource="applicationContext-security.xml"/>
    
    
    <!-- db configuration -->
    <import resource="applicationContext-db.xml"/>
</beans>
