<html xmlns:th="http://www.thymeleaf.org">
 <head th:replace="includes/head :: head">
 	
 </head>
<body>
<div id="header" th:replace="includes/header :: header"></div>
	<!-- Main -->
	<div id=main-wrapper>
<div id="banner" th:replace="includes/banner :: banner"></div>

<!-- Gigantic Heading -->
<section class="wrapper style2">
  <div class="container">
    <header class="major">
	  <h1 th:text="#{index.title}">INDEX TITLE</h1>
	  <p th:text="#{index.section.main}">index.section.main</p>
	</header>
	<article>
	    <header>
	      <h2 th:text="#{index.section.news}">index.section.news</h2>
          <h3 th:text="${posts[0].title}">posts[0].title</h3>
		</header>
		<sup>
			<span th:text="#{news.posted.on} + ': ' + ${#dates.format(posts[0].createDate, 'MMMM dd, yyyy')}">news.posted.on: ${formattedDate}</span>
			<span th:text="#{news.posted.in}">news.posted.in</span>
			<a th:href="${posts[0].author.url} + '/category/' + ${posts[0].categories[0].slug}" target="_blank" th:text="${posts[0].categories[0].name}">category.name</a>
		</sup>
		<div th:utext="${posts[0].content}">${posts[0].content}</div>
	  </article>
  </div>
</section>
</div>
<div id="footer" th:replace="includes/footer :: footer"></div>
</body>
</html>
