<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{includes/head :: head}">

</head>

<body class="right-sidebar">
	<div id="page-wrapper">
		<div id="header" th:replace="~{includes/header :: header}"></div>
		<!-- Main -->
		<div id="main-wrapper">
			<div class="container">
				<div class="row 200%">
					<div class="8u 12u$(medium)">
						<div id="content">
							<article>
								<header>
									<h1 th:text="#{admin.title}">admin.title"</h1>
									<h3 th:text="#{login.header}">login.header</h3>
								</header>
 
								<div th:if="${error}" class="error form_error" th:text="${error}">error</div>
								
								<div th:if="${msg}" class="msg form_error" th:text="${msg}">msg</div>

								<form th:action="@{/login}" th:object="${loginData}" method="POST">
									<div class="row 50%">
										<div class="6u$ 12u(medium)">
											<input type="text" th:field="*{username}" th:placeholder="#{login.username}"/>
											<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="form_error"></p>
										</div>
										<div class="6u$ 12u(medium)">
											<input type="password" th:field="*{password}" th:placeholder="#{login.password}"/>
											<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="form_error"></p>
										</div>
									</div>
									<div class="row 50%">
										<div class="12u">
											<ul class="actions">
												<li>
													<button type="submit" class="button icon fa-envelope-o" th:text="#{login.login}">
														login.login
													</button>
												</li>
											</ul>
											<a href="/reset.html" th:text="#{login.reset} + '?'">login.reset</a>
										</div>
									</div>

								</form>
							</article>
						</div>
					</div>
					<div class="4u 12u$(medium)">
						<div id="sidebar" th:replace="~{includes/rightPanel :: rightPanel}"></div>
					</div>
				</div>
			</div>
		</div>


		<div id="footer" th:replace="~{includes/footer :: footer}"></div>
	</div>
</body>
</html>