<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head">

</head>

<body class="right-sidebar">
	<div id="page-wrapper">
		<div id="header" th:replace="includes/header :: header"></div>
		<!-- Main -->
		<div id="main-wrapper">
			<div class="container">
				<div class="row 200%">
					<div class="8u 12u$(medium)">
						<div id="content">
							<article>
								<header>
									<h1 th:text="#{mens.title}">mens.title</h1>
								</header>
								<p th:utext="#{mens.section.main}">mens.section.main</p>
	  							<ul class="default">
	  								<li><a href="mensA.html" th:text="#{mens.section.main.b1}">mens.section.main.b1</a></li>
	  								<li><a href="mensB.html" th:text="#{mens.section.main.b2}">mens.section.main.b2</a></li>
	  								<li><a href="mensJurassic.html" th:text="#{mens.section.main.b3}">mens.section.main.b3</a></li>
	  							</ul>
							</article>
						</div>
					</div>
					<div class="4u 12u$(medium)">
						<div id="sidebar" th:replace="includes/rightPanel :: rightPanel"></div>
					</div>
				</div>
			</div>
		</div>


		<div id="footer" th:replace="includes/footer :: footer"></div>
	</div>
</body>
</html>