<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{includes/head :: head}">

</head>

<body class="right-sidebar">
	<div id="page-wrapper">
		<div id="header" th:replace="~{includes/header :: header}"></div>
		<!-- Main -->
		<div id="main-wrapper">
			<div class="container">
				<div class="row 200%">
					<div class="8u 12u$(medium)">
						<div id="content">
							<article>
								<header>
									<h1 th:text="#{admin.title}">admin.title</h1>
								</header>
								<p th:text="#{password_email.p1}">password_email.p1</p>

								<form action="#" th:object="${passwordEmailData}" method="POST">

									<div class="row 50%">
										<div class="6u$ 12u(medium)">
											<input type="email" th:field="*{email}" th:placeholder="#{password_email.email}" />
											<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="form_error">error.email</p>
										</div>
									</div>
									<div class="row 50%">
										<div class="12u">
											<ul class="actions">
												<li>
													<button type="submit" class="button icon fa-envelope-o" th:text="#{form.submit}">form.submit</button>
												</li>
											</ul>
										</div>
									</div>

									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								</form>
							</article>
						</div>
					</div>
					<div class="4u 12u$(medium)">
						<div id="sidebar"
							th:replace="~{includes/rightPanel :: rightPanel}"></div>
					</div>
				</div>
			</div>
		</div>


		<div id="footer" th:replace="~{includes/footer :: footer}"></div>
	</div>
</body>
</html>