<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{includes/head :: head}">

</head>

<body class="right-sidebar">
	<div id="page-wrapper">
		<div id="header" th:replace="~{includes/header :: header}"></div>
		<!-- Main -->
		<div id="main-wrapper">
			<div class="container">
				<div class="row 200%">
					<div class="8u 12u$(medium)">
						<div id="content">
							<article>
								<header>
									<h1 th:text="#{sponsors.title}">sponsors.title</h1>
								</header>
								<h3 th:text="#{sponsors.section.main.header.1}">sponsors.section.main.header.1</h3>
								<a href="https://eastsidecrafthouse.com/" target="_blank"><span class="image"><img src="/images/EastSideCraftHouse-Logo.png" th:alt="#{sponsors.section.image.alt.1}"/>sponsors.section.image.alt.1</span></a>
	  							<p th:text="#{sponsors.section.main.p.1}">sponsors.section.main.p.1</p>
	  							<h3 th:text="#{sponsors.section.main.header.2}">sponsors.section.main.header.2</h3>
     							<a href="https://www.solterradev.com/" target="_blank"><span class="image"><img src="/images/solterra-logo.png" th:alt="#{sponsors.section.image.alt.2}">sponsors.section.image.alt.2</span></a>
	  							<p th:text="#{sponsors.section.main.p.2}">sponsors.section.main.p.2</p>
							</article>
						</div>
					</div>
					<div class="4u 12u$(medium)">
						<div id="sidebar" th:replace="~{includes/rightPanel :: rightPanel}"></div>
					</div>
				</div>
			</div>
		</div>


		<div id="footer" th:replace="~{includes/footer :: footer}"></div>
	</div>
</body>
</html>