<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{includes/head :: head}">

</head>

<body class="right-sidebar">
	<div id="page-wrapper">
		<div id="header" th:replace="~{includes/header :: header}"></div>
		<!-- Main -->
		<div id="main-wrapper">
			<div class="container">
				<h1 th:text="#{admin.title}">admin.title</h1>
				<div class="row 200%">
					<!-- Side Menu -->
					<div id="menu" th:replace="~{includes/menu :: menu}"></div>
					
					<!-- Main Content -->
					<div class="9u 12u(small)" style="padding: 80px 0 0 40px" >
						<!-- Panel -->
						<div class="panel">
							<div class="panel-head">
								<h4 th:text="#{admin.menu.player} + ' - ' + ${team.name}">admin.menu.player</h4>
							</div>
							<div class="box-content">
								<a th:href="@{/admin/addPlayer.html} + '?uuid=' + ${team.uuid}" class="button small smallaction icon fa-plus">
									<span th:text="#{players.headers.actions.add}">players.headers.actions.add</span>
								</a>
								<table class="default">
									<thead>
										<tr>
											<th th:text="#{players.headers.name}">players.headers.name</th>
											<th th:text="#{players.headers.email}">players.headers.email</th>
											<th th:text="#{players.headers.teams}">players.headers.teams</th>
											<th th:text="#{players.headers.actions}">players.headers.actions</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="player, iStat : ${players}" th:class="${iStat.odd}? 'odd': 'even'">
											<td th:text="${player.firstName} + ' ' + ${player.lastName}">NAME</td>
											<td th:text="${player.email}">EMAIL</td>
											<td>
												<span th:each="team, loop : ${player.teams}">
													<span th:text="${team.name}"></span><span th:if="${!loop.last}"> | </span>
												</span>
											</td>
											<td>
												<a th:href="@{/admin/editPlayer.html} + '?uuid=' + ${player.uuid} + '&teamUuid=' + ${team.uuid}" class="button small icon fa-edit">
													<span th:text="#{players.headers.actions.edit}">players.headers.actions.edit</span>
												</a>
												<a th:href="@{/admin/deletePlayer.html} + '?uuid=' + ${player.uuid} + '&teamUuid=' + ${team.uuid}" class="button small icon fa-trash">
													<span th:text="#{players.headers.actions.delete}">players.headers.actions.delete</span>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
			   	</div>
			</div>
		</div>	


		<div id="footer" th:replace="~{includes/footer :: footer}"></div>
	</div>
</body>
</html>